<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../components/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <%- include("../components/navbar.ejs") %>

    some sample page
</body>
</html>