.navbar{
    display: flex;
    place-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons a, .ddmenu-button, .ddlist a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 1em 0;
    width: 8em;
    background-color: black;
}

.buttons a:hover{
    background-color: white;
    color: black;
}

/* Dropdown Menu Styles */

.ddmenu{
    position: relative;
}

.ddlist{
    position: absolute;
    transition: 0.3s;
    transform-origin: top;
    scale: 0;
}

.ddlist a{
    display: block;
    margin: 5px 0;
}
